html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

#cal-table {

    width: 98%;
    border-collapse: collapse;
    font-size: small;
}

#header-bar {
    width: 97%;
    border-collapse: collapse;
    margin: auto;
    vertical-align: bottom;
}

tbody td {
  text-align: left;
}

tfoot th {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.homeworkButton {
    border: double;
    border-radius: 8px;
    background-color: purple;
    color: white;
    font-size: medium !important;
}

.container {
  width: 97%;
    border: solid 5px;
    border-radius: 15px;
    border-color: #cccccc;
  background-color: #eeeeee;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 15px;
}

.container-header {
    padding: 2%;
}