html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}

#cal-table {

    width: 95%;
    border-collapse: collapse;
    border: 3px solid purple;
    font-size: small;
}

#header-bar {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    vertical-align: bottom;
}

th, td {
    padding: 2px;
}



tbody td {
  text-align: left;
}

tfoot th {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
}